LMarcas/XSD/ejer10.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="sistemaSolar">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="cuerpo" minOccurs="0" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:choice minOccurs="1" maxOccurs="unbounded">
                            <xs:element name="planeta" type="xs:string" />
                            <xs:element name="satelite" type="xs:string" />
                        </xs:choice>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>

    </xs:element>
</xs:schema>