LMarcas/XSD/ejer5.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="futbol" >
        <xs:complexType>
            <xs:sequence>
                <xs:element name="jugador" minOccurs="" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:attribute name="nombre" type="xs:string" use="required"/>
                        <xs:attribute name="codigo" type="xs:integer" use="required"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>